<section class="Register">
    <div class="Register col-lg-4 p-3 m-auto shadow-lg">
        <form>
            <div class="mb-3"><br>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control"  placeholder="Enter email" required>
              <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control"  placeholder="Enter Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> 
            <button type="submit"  aria-setsize="30px" class="btn btn-primary col-lg-12">Submit</button>
          </form>
    </div>
</section><br><br><br>
